<h4 class="mt-3">Sign Up</h4>
  <%= form_for user do |f|%>
    <div class="text-field form-group text-left">
      <%= f.label :email, class: "mb-2" %><br>
      <%= f.text_field :email, class: "login-input" %>
    </div>
    <div class="text-field form-group text-left">
      <%= f.label :password%>
      <%= f.password_field :password, class: "login-input"%>
    </div>
    <% f.hidden_field :status, value: 0 %>
    <%= f.submit "Create User", class: 'purple-btn' %>
  <%end%>

